<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Orders</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
         <h2 style="color: white;">Restaurant Orders</h2>
        <nav>
            <label for="nav-dropdown">Menu</label>
            <select id="nav-dropdown" onchange="window.location.href=this.value;" class="custom-btn">
                <option value="#">Select an option</option>
                <option value="/restaurant/orders">View Orders</option>
                <option value="/restaurant-dashboard">Restaurant Dashboard</option>
                <option value="/post-new-item">Post New Item</option>
            </select>
            <a href="/restaurant/logout" class="custom-btn">Logout</a>
            
        </nav>
    </header>

    {{#if orders.length}}
        <table class="order-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        <td>{{this.orderId}}</td>
                        <td>{{this.Food.foodName}}</td>
                        <td>{{this.quantity}}</td>
                        <td>${{this.totalPrice}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <h4 style="height: 4em;">No orders found</h4>
    {{/if}}

</body>
</html>
