<br>
<header>
    <h2 style="color: white;">Student Dashboard</h2>
    <nav>
        <select id="nav-dropdown" onchange="window.location.href=this.value;" class="custom-btn">
            <option value="#">Select an option</option>
            <option value="/myorders">View Orders</option>
            <option value="/student-dashboard">Place Order</option>
            <option value="/track-order/{{#if student}}{{student.StudentId}}{{else}}defaultId{{/if}}">Track Order</option>
            <option value="/restaurants">Review Restaurant</option>
        </select>
        <a href="/student/logout" class="custom-btn">Logout</a>
    </nav>
</header>

        
<h2>
    Restaurants
            
</h2>
<hr />

{{#unless restaurants}}
<div class="col-md-12 text-center">
    <strong>{{message}} {{^message}}No restaurants available.{{/message}}</strong>
</div>
{{else}}
<div class="table-responsive">
    <table class="order-table">
        <thead>
            <tr>
                <th>Restaurant Code</th>
                <th>Restaurant Name</th>
                <th>Restaurant Description</th>
                <th>Location</th>
                <th>Owner</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {{#each restaurants}}
            <tr>
                <td>{{restaurantCode}}</td>
                <td>{{restaurantName}}</a></td>
                <td>{{restaurantDescription}}</td>
                <td>{{addressStreet}}, {{addressCity}}, {{addressProvince}}</td>
                <td>{{owner}}</td>
                <td>
                    {{#if restaurantId}}
                        <a href="/restaurant/{{restaurantId}}/review">Review</a>
                    {{else}}
                        No Review Link
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/unless}}