<div class="row">
    <div class="col-md-12">
        <br>
        <h1 style="font-size: 3.5em; text-align: left; margin-top: 100px; text-shadow: -1px -1px 0 #f1eae9;">
            Edit Restaurant - {{restaurant.restaurantName}}
        </h1>
        <hr />

        <form action="/restaurants/update" method="POST">
            <input type="hidden" name="restaurantId" value="{{restaurant.restaurantId}}" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="restaurantCode">Restaurant Code:</label>
                        <input class="form-control" id="restaurantCode" name="restaurantCode" type="text" value="{{restaurant.restaurantCode}}" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="restaurantName">Restaurant Name:</label>
                        <input class="form-control" id="restaurantName" name="restaurantName" type="text" value="{{restaurant.restaurantName}}" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input class="form-control" id="location" name="location" type="text" value="{{restaurant.location}}" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="owner">Owner:</label>
                        <input class="form-control" id="owner" name="owner" type="text" value="{{restaurant.owner}}" required />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="restaurantDescription">Restaurant Description:</label>
                <textarea class="form-control" id="restaurantDescription" name="restaurantDescription" rows="3">{{restaurant.restaurantDescription}}</textarea>
            </div>

            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Update Restaurant">
        </form>
    </div>
</div>
